@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<link href="~/Content/recipe.css" rel="recipe1" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        background-color: lightblue;
    }
</style>

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password
    </p>
</div>

