<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/recipe.css" rel="recipe1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 85%;
            /* Height of the footer*/
            height: 90px;
            background: grey;
            background: whitesmoke;
            font-size: 20px;
        }
    </style>
       
</head>
<body>
   
    <div class="row-md-">

        <h1 id="third">
            <strong>Cooking Express is a website created for chefs and food lovers.<br /> It is a digital cookbook and cooking guide alike, available on all platforms, that helps home cooks of every level discover, save and organize the world’s best recipes, while also helping them become <br />better, more competent cooks.<br />The followers can also add their own favourite recipes for others to see.<br /><br /> <a href="https://localhost:44343/Account/Login"><u>Login now</u> </a> for full access.</strong>
        </h1>


    </div>

    

    <div id="footer">

        <div class="row">
            <div class="col-sm-4">
                <a href="https://www.facebook.com/CuisineBienMangeBien/?ref=pages_you_manage" class="fa fa-facebook"></a>
                <a href="https://youtube.com/channel/UCNDC_TmipYKyjHADjZGNQ4g" class="fa fa-youtube"></a>
                <a href="https://www.instagram.com/m.dalan.diallo/" class="fa fa-instagram"></a>
                <a href="https://twitter.com/epicurious" class="fa fa-twitter"></a>

            </div>
            <div class="col-sm-4">
                <p>
                    <strong>
                        Author: Mariama and Amal<br>
                        <a href="mailto:cookingexpress@gmail.com">cookingexpress@gmail</a>

                    </strong>
                </p>
            </div>
            <div class="col-sm-4">
                <strong>
                    <p>&copy; @DateTime.Now.Year - Cooking Express</p>
                </strong>


            </div>
        </div>
    </div>



</body>
</html>
