<h1><strong>Berry Recipe</strong></h1>
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/recipe.css" rel="recipe1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <div class="column">
        <div class="row-md-">

            <h1 id="third">
                <p>
                    <a href="https://www.youtube.com/watch?v=sU-L5HlT6Bc"><u>You can watch the video from here</u></a><br /><br />
                    <iframe width="420" height="345" src="https://www.youtube.com/embed/sU-L5HlT6Bc"></iframe><br /><br />
                    <strong>Active Time 20 minutes</strong><br />

                    <strong>Total Time 45 minutes</strong>, plus cooling

                    Dark sweet cherries and apple cider lend sweetness and depth to this bourbon-and-black-pepper-spiked cranberry sauce.<br />
                    <br />
                    <strong>Ingredients</strong><br />
                    Makes about 3 cups
                    20 ounces frozen or fresh cranberries (about 4½ cups)
                    10 ounces frozen dark sweet cherries (about 2 cups)
                    1¼ cups (packed) brown sugar
                    ½ cup apple cider
                    ½ teaspoon freshly ground black pepper
                    ½ cup bourbon<br /><br />
                    <strong>Step 1</strong><br />
                    Bring cranberries, cherries, brown sugar, cider, and pepper to a boil over high heat in a medium saucepan. Cook 2 minutes, stirring occasionally, then stir in bourbon. Reduce heat, bring to a simmer, and cook, stirring often and pushing fruit against the side of the pan with the back of a wooden spoon to break apart slightly, until thick and syrupy, about 25 minutes more. Let cool completely.

                    Do Ahead<br /><br />
                    <strong>Step 2</strong><br />
                    Sauce can be made 5 days ahead; cover and chill. Bring to room temperature before serving.

                </p>
            </h1>


        </div>

    </div>
</body>
</html>

