<h1><strong>Rosemary-Bourbon Glazed Ham</strong></h1>
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/recipe.css" rel="recipe1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <div class="column">
        <div class="row-md-">

            <h1 id="third">
                <p>
                    <a href="https://www.youtube.com/watch?v=QvQHVAW8BS4"><u>You can watch the video from here</u></a><br /><br />
                    <iframe width="420" height="345" src="https://www.youtube.com/embed/QvQHVAW8BS4"></iframe><br /><br />
                    <br />
                    Skip the sugary packaged ham glaze and make something extraordinary from scratch. This glaze takes 10 minutes (tops!) to throw together. It’s filled with rich bourbon notes, fresh citrus zing, and rosemary warmth to complement the sweetness. The trick to a great ham is to not overcook it, because it’s already cooked! It just needs warming through. Tent lightly with foil and bake for just about two hours for juicy, glazed spiral-cut holiday ham.<br />
                    <br />

                    <strong>Ingredients</strong><br />
                    <strong>For 8-10 servings</strong>
                    One 10-lb bone-in, fully cooked, spiral-sliced ham
                    1 cup brown sugar
                    ¼ cup bourbon or other whiskey
                    2 Tbsp. apple cider vinegar
                    2 Tbsp. Dijon mustard
                    1 orange, zested and juiced
                    1 Tbsp. chopped fresh rosemary
                    ½ tsp. garlic powder
                    ½ tsp. onion powder
                    ½ tsp. ground cinnamon
                    Freshly ground black pepper<br /><br />

                    <strong>Step To Follow</strong><br />
                    1. Remove ham from packaging and bring to room temperature for up to 2 hours before baking.<br />
                    2.Preheat oven to 325ºF. Arrange a rack in the lower third of the oven and remove upper racks.<br />
                    3. In a small pot over medium heat, whisk together brown sugar, bourbon, apple cider vinegar, Dijon mustard, orange zest and juice, rosemary, garlic powder, onion powder, cinnamon, and a few turns of the pepper mill. Bring to a low simmer and cook for 5–6 minutes, stirring frequently, until the sugar has dissolved. Remove from heat and set aside.<br />
                    4. Place ham in a large roasting pan, face down. Brush half the glaze over the surface of the ham. Loosely cover ham with foil and bake for 1 hour and 30 minutes. During cooking, brush with remaining glaze mixture every 30 minutes. For the last 15 minutes of cooking, remove foil. Let stand up to 30 minutes before transferring to a serving platter.
                </p>
            </h1>


        </div>

    </div>
</body>
</html>


