<h1>
    <strong>Fancy Cranberry Sauce</strong>
</h1>
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/recipe.css" rel="recipe1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <div class="column">
        <div class="row-md-">

            <h1 id="third">
                <p>
                    <a href="https://www.youtube.com/watch?v=khySFXtViXI"><u>You can watch the video from here</u></a><br /><br />
                    <iframe width="420" height="345" src="https://www.youtube.com/embed/khySFXtViXI"></iframe><br /><br />

                    We dreamed of a sauce as sliceable and jiggly and fun as the retro canned stuff, but with deeper fruit flavor and more nuance. It’s subtly spiced with bay leaves and cardamom, then set in a gelatin mold that your cousins will never see coming and crowned with sugary orange zest and cranberries.
                    <br /><br />
                    <strong>Ingredients</strong><br />
                    Nonstick vegetable oil spray
                    1 Tbsp. plus 1½ tsp. unflavored powdered gelatin
                    1½ lb. fresh (or frozen, thawed cranberries
                    4 cardamom pods, lightly crushed
                    3 fresh bay leaves
                    Pinch of kosher salt
                    1 cup unsweetened cranberry juice or water
                    1½ cups plus 3 Tbsp. sugar
                    2 (2x1") strips orange zest, very thinly sliced lengthwise<br /><br />

                    <strong>Step 1</strong><br />
                    Lightly coat a 4-cup mold or Bundt pan with nonstick spray. Stir gelatin and ½ cup warm water in a small bowl and let sit 10 minutes.<br />

                    <strong>Step 2</strong><br />
                    Set 2 Tbsp. cranberries aside for serving. Bring cardamom, bay leaves, salt, cranberry juice, 1½ cups sugar, and remaining cranberries to a boil in a large saucepan, stirring to dissolve sugar. Continue to cook, stirring often and reducing heat as needed to avoid scorching, until cranberries burst and juices begin to look syrupy, 10–12 minutes. Remove from heat and pick out cardamom and bay leaves; discard. Stir in gelatin mixture (gelatin should be completely dissolved). Slowly pour cranberry mixture into mold. Chill until completely set, at least 12 hours.

                    <br /><br /><strong>Step 3</strong><br />
                    To serve, dip mold in a bowl of warm water and hold 30 seconds. Remove and place a platter upside down over top of mold. Invert jelly onto platter.<br />

                    <br /><strong>Step 4</strong><br />
                    Just before serving, toss orange zest, remaining 2 Tbsp. cranberries, and remaining 3 Tbsp. sugar in a small bowl to coat. Scatter over jelly<br />

                    <br /><br /><strong>Step 5</strong><br />
                    Do Ahead: Jelly (without sugared cranberries and zest) can be made 2 days ahead. Keep chilled.

                </p>
            </h1>


        </div>

    </div>
</body>
</html>



