<h1>
    <strong>Cranberry-Orange Snacking Cake</strong>
</h1>
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/recipe.css" rel="recipe1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <div class="column">
        <div class="row-md-">

            <h1 id="third">
                <p>
                    <a href="https://www.youtube.com/watch?v=GXyIuQ4j5oM"><u>You can watch the video from here</u></a><br /><br />
                    <iframe width="420" height="345" src="https://www.youtube.com/embed/GXyIuQ4j5oM"></iframe><br /><br />
                    <strong>Active Time 80 minutes</strong><br /><br />

                    <strong>Total Time 85 minutes</strong><br />

                    Use a can of cranberry sauce left over from Thanksgiving to make the jam swirl topping of this simple cake. It’s perfect for breakfast or as an afternoon snack.<br />
                    <br />
                    <strong>Ingredients</strong><br />
                    ½ cup (1 stick) unsalted butter, cut into 2-inch pieces
                    1 14-oz. can cranberry sauce, jellied or whole berry
                    3 Tbsp. orange juice
                    1 Tbsp. orange zest
                    1 Tbsp. lemon juice
                    1¼ cup (250 g) granulated sugar
                    2½ cups (320 g) all-purpose flour
                    1 tsp. kosher salt
                    ½ tsp. baking powder
                    ¾ tsp. baking soda
                    ½ tsp. ground cardamom
                    3 large eggs
                    1½ cups (320 g) plain whole-milk Greek yogurt
                    1 tsp. vanilla extract<br /><br />

                    <strong>Step 1</strong><br />
                    Place an oven rack in the center of the oven and preheat to 350°F. Line a 13x9-inch baking dish with parchment paper, leaving an overhang on 2 long sides.<br /><br />

                    <strong>Step 2</strong><br />
                    Cook butter in a small saucepan over medium heat, stirring often, until it foams, then browns, 5–8 minutes. Remove from heat (it will continue to darken). Set aside to cool slightly.

                    <br /><br /><strong>Step 3</strong><br />
                    Add cranberry sauce to a separate saucepan and smush and stir to break apart. Add orange and lemon juice. Cook over medium heat, stirring frequently (or whisking well if using jellied), until smooth, 2–3 minutes. Set aside to cool slightly

                    <br /><strong>Step 4</strong><br />
                    In a medium bowl, combine sugar and orange zest; use your fingers to rub the zest into the sugar until fragrant and the sugar is tinted orange. Add flour, salt, baking powder, baking soda, and cardamom to the bowl; whisk to combine

                    <br /><br /><strong>Step 5</strong><br />
                    In a large bowl, whisk together eggs, yogurt, and vanilla until smooth. Add dry ingredients to the wet and stir to just combine; the mixture will be quite thick, like cobbler batter. Add browned butter, scraping in any browned bits from the bottom of the pot; stir to combine

                    <br /><br /><strong>Step 6</strong><br />
                    Transfer the batter to the prepared baking dish and spread into a fairly even layer to fill the dish from corner to corner. The batter will be very stiff and not look like enough—this is ok, it will rise big time! Dollop cranberry mixture over the top in big spoonfuls and use a knife to swirl it into the batter. Even if it looks like cranberry is covering most of the top of the cake, it will rise to reveal space between the swirls.

                    <br /><br /><strong>Step 7</strong><br />
                    Bake until risen and golden brown and a cake tester inserted into the center comes out clean, 45 to 50 minutes. Let cool before using parchment overhang to remove from the pan.



                </p>
            </h1>


        </div>

    </div>
</body>
</html>

