<h1><strong>Sumac-Roasted Snapper With Lime Yogurt</strong></h1>
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/recipe.css" rel="recipe1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <div class="column">
        <div class="row-md-">

            <h1 id="third">
                <p>
                    <a href="https://www.youtube.com/watch?v=ZtRgPSQzV-Q"><u>You can watch the video from here</u></a><br /><br />
                    <iframe width="420" height="345" src="https://www.youtube.com/embed/ZtRgPSQzV-Q"></iframe><br /><br />
                    <br />
                    One flavor combination that comes up again and again in Persian cuisine is sumac, lime, and yogurt. This whole roasted fish recipe is the perfect place to put that trinity to work. When you smother the fish in sumac—literally packing it into the skin like you’re giving it a clay mask—it forms a crisp crust while infusing the fish with its unique floral acidity.<br />
                    <br />

                    <strong>Ingredients</strong><br />
                    <strong>Serves 4</strong>
                    1 whole red snapper, cleaned
                    2 tablespoons sumac
                    2 teaspoons kosher salt
                    ¼ teaspoon freshly ground black pepper
                    2 garlic cloves, thinly sliced
                    2 tablespoons extra-virgin olive oil<br />

                    <strong>For the Lime Yogurt:</strong>
                    1 cup whole-milk Greek yogurt
                    Grated zest and juice of 1 lime
                    ½ teaspoon kosher salt
                    1 garlic clove, grated<br />

                    <strong>For serving:</strong>
                    Chopped fresh mint
                    Juice of 1 lime
                    2 limes, cut into wedges
                    <br /><br />

                    <strong>Step To Follow</strong><br /><br />
                    <strong>Roast the snapper:</strong><br />
                    1. Preheat the oven to 425°F.<br />
                    2.Carefully use a sharp knife to score each side of the fish, making 5 or 6 incisions into the skin and flesh of the fish (this will help even more flavor seep in to the flesh). Season inside and out with the sumac, salt, and pepper. Really pack on the sumac! Place the fish on a baking sheet. Stuff with the sliced garlic and drizzle the olive oil all over. Roast until the eyes have popped and the flesh is firm to the touch, about 20 minutes.<br />
                    <br /><strong>Make the lime yogurt:</strong><br />
                    3. In a medium bowl, stir together the yogurt, lime zest, lime juice, salt, and grated garlic.<br />
                    <br /><strong>To serve:</strong><br />
                    4. Place the roasted fish on a serving platter and scatter mint over the top. Squeeze the lime juice over the fish and serve the yogurt and lime wedges on the side.
                </p>
            </h1>


        </div>

    </div>
</body>
</html>



