<h1><strong>Lipstick Memory</strong></h1>
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/recipe.css" rel="recipe1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <div class="column">
        <div class="row-md-">

            <h1 id="third">
                <p>
                    <a href="https://www.youtube.com/watch?v=veiFJtOwn6Q"><u>You can watch the video from here</u></a><br /><br />
                    <iframe width="420" height="345" src="https://www.youtube.com/embed/veiFJtOwn6Q"></iframe><br /><br />
                    <strong>Active Time 20 minutes</strong><br />

                    This festive, refreshing cocktail balances bittersweet Campari with tart, unsweetened 100% cranberry juice. Don’t substitute a version that has apple juice or any other ingredients on the label; you want that full-on puckering flavor. (Note: 100% juice doesn’t always mean 100% cranberry juice.) This drink’s tartness and bitterness awakens the palate for whatever you’ve got cooking.<br />
                    <br /><strong>Ingredients</strong><br />
                    For the Cran-Rosemary Juice:
                    1 cup R.W. Knudsen Just Cranberry Juice (or other unsweetened 100% cranberry juice)
                    2 Tbsp. sugar
                    2 rosemary sprigs
                    For the cocktail:
                    2½ oz. dry sparkling wine
                    1½ oz. Campari
                    1 oz. Cran-Rosemary Juice
                    Garnish: Rosemary sprig, torched if desired<br /><br />

                    <strong>Step 1</strong><br />
                    To make Cran-Rosemary Juice, combine unsweetened cranberry juice, 2 Tbsp. water, and sugar in a small saucepan. Bring to a simmer over medium high heat, stirring to dissolve sugar, then immediately remove from heat. Add 2 rosemary sprigs and let steep 4 minutes. Strain into a liquid measuring cup or 12-ounce resealable jar. Let cool to room temperature and use immediately, or seal and refrigerate up to 2 weeks.<br /><br />

                    <strong>Step 2</strong><br />
                    To make the cocktail, add sparkling wine to a Collins glass, being careful to let fizz settle to get an accurate measurement. Add Campari and Cran-Rosemary Juice, then fill with ice. If you’d like to torch the rosemary sprig, hold it next to the burner of a gas stove or near a match for a few seconds, just to warm a bit. Give the cocktail a very brief, gentle stir, then garnish with rosemary

                </p>
            </h1>


        </div>

    </div>
</body>
</html>



